.input_total {
  background: #ffffff;
  border: 1.5px solid #4f2255;
  border-radius: 10px;
  padding: 13px;
  color: #4f2255;
  font-weight: 600;
  width: auto !important;
}

/* FORMULARIO DE BUSQUEDA */
.calendar button {
  background: #ffff;
  color: #622c6b;
  border: 1px solid #ced4da;
}

.calendar button:hover {
  background: #ffff !important;
  color: #622c6b !important;
  border: 1px solid #ced4da !important;
}

/* OBLIGACIONES */
.btn_agregar {
  padding: 13px 34px;
  font-weight: 700;
}